%article.gif_body
  = link_to gif_path(gif), class: 'heading' do
    %h2= gif.title.to_s.capitalize
  = render 'embed', gif: gif
.gif_secondary
  .social
    = render 'social/share', gif: gif
  = render 'gifs/admin_convenience_actions', gif: gif
