%article.gif_body
  = link_to gif_path(gif), class: 'heading' do
    %h2= gif.title.capitalize
  = link_to gif_path(gif) do
    = image_tag gif.url, alt: gif.title
.gif_secondary
  .social
    = render 'social/share', gif: gif
  = render 'admin_convenience_actions', gif: gif
