= render "shared/ad"
.page.clearfix[gif]
  %article.gif_body
    %h2= gif.title.to_s.capitalize
    = render 'embed', gif: gif
  .gif_secondary
    .social
      = render 'social/share', gif: gif
      = render 'gifs/admin_convenience_actions', gif: gif
    %nav.show
      = link_to gif_path(@prev_gif), rel: 'prev', class: 'prev big_button', title: 'Previous' do
        = "«"
        %span.label Prev
      = link_to random_gifs_path, class: 'random big_button', title: 'Random' do
        = "↻"
        %span.label Random
      = link_to gif_path(@next_gif), rel: 'next', class: 'next big_button', title: 'Next' do
        %span.label Next
        = "»"

.comments.clearfix
  .fb-comments{"data-href" => url_for(:only_path => false), "data-num-posts" => "20", "data-width" => "600"}
