.page
  - action = :create
  - if gif.persisted?
    - action = :update
    %h3= gif.title
    %br
    = image_tag gif.directified_url, class: 'preview'
    %p= link_to gif.url, gif.url
  %br
  = form_for gif, remote: remote, url: { controller: :unpublished_gifs, action: action, id: gif.id } do |f|
    = f.text_field :title, placeholder: 'title'
    %br
    = f.text_field :url, placeholder: 'url', value: gif.directified_url
    %br
    = f.datetime_select :published_at
    = f.label :published_at
    %br
    = label_tag do
      = f.check_box :nsfw
      Adult, porn, NSFW...
    %br
    = label_tag do
      = f.check_box :hidden
      Delete
    %br
    = label_tag do
      = f.check_box :social_share
      Share on social networks
    %br
    %br
    = f.submit "Save"
