#bulk_edit
  = paginate gifs
  - gifs.each do |gif|
    .editable_gif
      .hidden.done
        Saved
        = link_to "View", gif_path(gif), target: "_blank"
        = render "social/share", gif: gif
      = render "form", gif: gif, remote: true
      -# = button_to 'Delete', gif, method: :delete, remote: true, confirm: 'U sure?'
  = paginate gifs
  .editable_gif
    = link_to "Import more", import_gifs_path(admin: true)
    |
    = link_to "Empty trash", empty_trash_unpublished_gifs_path, method: :delete, data: { confirm: "Are you sure?" }
    |
    = link_to "Delete all unpublished", delete_all_unpublished_gifs_path, method: :delete, data: { confirm: "Are you sure?" }
